body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-attachment: fixed;
}
.register{
    background-color: rgba(181, 253, 255, 0.521);
    padding-left: 15%;
    padding-top: 5%;
    padding-right: 15%;
}
.form{
    border-style: solid;
    border-color: rgb(42, 116, 255);
    border-width: 1px;
    border-radius: 2%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(169, 209, 206, 0.568);
}
.logo img{
    width: 15%;
}
form{
    padding-right: 5%;
    line-height: 280%;
}
input[type=text]{
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.356);
    border-top: 2px solid rgba(0, 0, 0, 0.356);
    border-left: 2px solid rgba(0, 0, 0, 0.356);
    border-right: 2px solid rgba(0, 0, 0, 0.356);
    background-color: rgba(100, 148, 237, 0.096);
    border-radius: 2px;
    font-size: 20px;
    color: rgb(56, 56, 56);
}
input[type=date]{
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.356);
    border-top: 2px solid rgba(0, 0, 0, 0.356);
    border-left: 2px solid rgba(0, 0, 0, 0.356);
    border-right: 2px solid rgba(0, 0, 0, 0.356);
    background-color: rgba(100, 148, 237, 0.096);
    border-radius: 2px;
    font-size: 20px;
    color: rgb(56, 56, 56);
}
input[type=password]{
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.356);
    border-top: 2px solid rgba(0, 0, 0, 0.356);
    border-left: 2px solid rgba(0, 0, 0, 0.356);
    border-right: 2px solid rgba(0, 0, 0, 0.356);
    background-color: rgba(100, 148, 237, 0.096);
    border-radius: 2px;
    font-size: 20px;
    color: rgb(56, 56, 56);
}
input[type=submit]{
    padding: 12px 30px;
    border-radius: 7px;
    border: none;
    background-color: blue;
    color: white;
    float: right;
}
input[type=submit]:hover{
    background-color: rgb(128, 128, 255);
    color: white;
}

.side input{
    width: 30%;
}
.terms{
    line-height: 100%;
    font-family: 'Courier New', Courier, monospace;
}
.right{
    float: right;
    padding-right: 10%;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(87, 86, 86);
}
footer {
	background-color: rgba(175, 146, 255, 0.493);
    padding-top: 20px;
	border-top: 2px solid rgb(0, 10, 146);
	color: rgb(255, 255, 255);
}
.footerinfo{
    padding-left: 20%;
    font-size: 20px;
}
.copyrightsection{
    padding-left: 20%;
    text-align: left;
}

    

