* {
    box-sizing: border-box;
}
header{
    background-color: rgba(255, 255, 255, 0.733);
    
}
.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(211, 211, 211, 0.493);
}
.links li{
    float: right;
}
.links li a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 20px;
}
.links li:hover{
    background-color: rgba(0, 0, 0, 0.514);
}
.links li a:hover{
    color: white;
}
.logo{
    float: left;

}
header::after {
    content: "";
    clear: both;
    display: table;
  }
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main{
    padding-top: 60px;
    padding-left: 120px;
    padding-bottom: 60px;
    padding-right: 120px;
    background-color: rgba(255, 255, 255, 0.548);
}

.column{
    display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.column img{
    width: 100%;
}
footer {
	background-color: #222;
    padding-top: 20px;
	border-top: 4px solid rgb(185, 255, 232);
	color: rgb(255, 255, 255);
}
.footerinfo{
    padding-left: 20%;
    font-size: 20px;
}
.copyrightsection{
    padding-left: 20%;
    text-align: left;
}